.products {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        h2 {
            font-size: 30px;
            text-align: left;
        }
        .products__dif {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}