.pagination {
    display: flex;
    gap: 10px;
    .pagination__arrow {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .pagination__arrow-disabled {
        pointer-events: none;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .pagination__num {
        color: #363A45;
        padding: 6px 10px;
    }
    .pagination__num-active {
        color: white;
        background: #00C65E;
        border-radius: 5px;
        padding: 6px 14px;
    }
}